:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
    --color-green:#CEFF24;
}



.extra-large-screen-top-stripe {
    position: relative;
    height: 10px;
}

.stripe-color {
    position: absolute;
    height: 100%;
    width: 20%; 
    top: 0;
}

.stripe-color1 {
    background-color:  #ceff26;
    left: 0;
}

.stripe-color2 {
    background-color: #fd571e; 
    left: 20%;
}

.stripe-color3 {
    background-color: #02edca; 
    left: 40%;
}

.stripe-color4 {
    background-color: #fda22d; 
    left: 60%;
}

.stripe-color5 {
    background-color: #0ab5fd; 
    left: 80%;
}


.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-light)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn.btn-primary {
    background-color: #fda22d;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 60px;
}

.btn-registrarse {
    font-weight: bold;
    font-size: 1.2rem; 
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.btn.btn-primary:hover {
    background-color: #2E8B57;
    color: #fff;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark);
}

/* Estilos para las cajas de entrada de datos */
.form-control {
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 0.5rem; /* Bordes redondeados */
    padding: 0.75rem 1rem; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
}

/* Estilos para cuando se enfoca la caja */
.form-control:focus {
    border-color: #80bdff; /* Color del borde al enfocar */
    outline: 0; /* Quita el contorno alrededor del borde al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
}


.register-bg {
    background-image:url(../assets/Fotoregistro.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
}

/* Modificar el color de los botones de Google */
.btn-google {
    background-color: #DB4437;
    color: #fff;
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 10px;
    border:none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */

}

/* Modificar el color del hover de los botones de Google */
.btn-google:hover {
    background-color: #C0392B;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

/* Modificar el color de los botones de Facebook */
.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
}

/* Modificar el color del hover de los botones de Facebook */
.btn-facebook:hover {
    background-color: #2d4373;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

/*modificar el color de los botones de apple*/
.btn-apple {
    background-color:black;
    color: #fff;
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
}

/*modificar el color del hover de los botones apple*/
.btn-apple:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

.btn-block{
        width: 400px;
        height: 40px; /* Ancho deseado */
}

.btn i.icon {
    font-size: 20px; /* Tamaño deseado */
}

.horizontal-line-container {
    display: flex; /* Utilizamos flexbox para alinear elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    width: 100%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.separator {
    flex-grow: 1; /* Permite que las líneas crezcan para ocupar todo el espacio disponible */
    border: none; /* Elimina el borde predeterminado */
    border-top: 1px solid black; /* Estilo de la línea */
    height: 1px; /* Grosor de la línea */
    margin: 0 20px;; /* Agrega espacio a la izquierda y derecha de las líneas */
}

.circle {
    width: 10px; /* Diámetro del círculo */
    height: 10px;
    border: 2px solid black; /* Borde del círculo */
    border-radius: 50%; /* Hace que el div sea un círculo */
}

/*INICIO MODIFICACION CHECKBOX*/

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox-label {
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    user-select: none;
}

.custom-checkbox-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
}

.custom-checkbox-input:checked ~ .custom-checkbox-label:before {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-checkbox-label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}

.custom-checkbox-input:checked ~ .custom-checkbox-label:after {
    display: block;
}

.custom-checkbox-label:hover:before {
    border-color: #007bff;
}

.custom-checkbox-input:disabled ~ .custom-checkbox-label {
    color: #999;
    cursor: not-allowed;
}

.custom-checkbox-input:disabled ~ .custom-checkbox-label:before {
    border-color: #999;
}
/*FIN MODIFICACION CHECKBOX*/

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}