/* En tu archivo CSS Admin.css */
<<<<<<< Updated upstream

.container-admin-panel {
    margin-left: 30px; /* Ajusta el margen izquierdo para compensar el sidebar */
    padding: 20px;/* Añade un poco de espacio alrededor del contenido */
=======
.container {
    margin-left: 30px; /* Ajusta el margen izquierdo para compensar el sidebar */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
>>>>>>> Stashed changes
  }
  
  .dataContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
  }
  
  .dataBox {
    width: 100px; /* Calcula el ancho de cada cuadro */
    height: 80px; /* Establece la altura de los cuadros */
    margin-bottom: 20px; /* Espacio entre los cuadros hacia abajo */
    border-radius: 10px; /* Borde curvo */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Agrega sombra */
  }
  
<<<<<<< Updated upstream

/* Admin.css */
=======
  .green {
    background-color: green; /* Cuadros verdes */
  }
  
  .orange {
    background-color: orange; /* Cuadros naranjas */
  }
  
  .blue {
    background-color: blue; /* Cuadros azules */
  }
  

>>>>>>> Stashed changes


.reviewSection, .pendingUsersSection {
    margin-top: 40px;
<<<<<<< Updated upstream
    width: 80%;
=======
    width: calc(100% - 250px); /* Resta el ancho del sidebar */
>>>>>>> Stashed changes
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye los contenedores horizontalmente */
    margin-left: 250px; /* Ajusta el margen izquierdo para compensar el sidebar */
  }
  
  .reviewContainer, .userContainer {
<<<<<<< Updated upstream
    display: flex; /* Habilita Flexbox */
    justify-content: space-between; /* Separa el contenido y el botón */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Mantiene el ancho completo */
=======
    width: 100%; /* Calcula el ancho de cada contenedor */
>>>>>>> Stashed changes
    margin: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reviewContainer:hover, .userContainer:hover {
    background-color: #f0f0f0;
  }
  
  .editButton {
    background: #2196F3; /* Azul */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .editButton:hover {
<<<<<<< Updated upstream
    background-color: #1976D2; /* Azul oscuro */
}
=======
    background-color: #1976D2; /* Azul oscuro */
  }

  
>>>>>>> Stashed changes
