:root {
    --primario: #ceff26;
    --secundario: #fd571e;
    --terciario: #02edca;
    --cuaternario:#fda22d;
    --quinario: #0ab5fd;
}
/* NAV Y PORTADA */
#header{
    border-bottom: 1px solid black;
}
#log-btn {
    color: var(--secundario);
    font-weight: bold;
}
#reg-btn {
    background-color: var(--cuaternario);
    border-color: var(--cuaternario);
    border-radius: 15px;
    box-shadow: 0px 3px 1px #d8d5d5;
    font-weight: bold;
}

#reg-btn:hover{
    background-color: #e09225;
}


#h2-carrusel {
    font-weight: bold;
    margin-bottom: 50px;
}
#pCarrusel {
    margin-bottom: 50px;
}
.div-pad{
    display: flex;
    align-items: center;
}
#botonCarrusel-1 {
    background-color: var(--secundario);
    border-radius: 15px;
    border-color: var(--secundario);
    box-shadow: 0px 3px 1px #d8d5d5;
    font-weight: bold;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: normal;
    padding: 3px;
}
#botonCarrusel-2 {
    background-color: var(--terciario);
    border-color: var(--terciario);
    border-radius: 15px;
    box-shadow: 0px 3px 1px #d8d5d5;
    font-weight: bold;
    width: 200px;
    height: 60px;
    text-align: center;
}
#study_1 {
    width: 1000px;
}
#study_2 {
    width: 1000px;
}
#study_3 {
    width: 1000px;
}

/* DATOS */
#cont-datos {
    background-color: var(--quinario);
    padding: 50px;

}
#num-data-1 {
    color: var(--secundario);
    font-size: 100px;
    text-shadow: 0px 3px 1px #6969698f;
    font-weight: bold;
}
#num-data-2 {
    color: var(--primario);
    font-size: 100px;
    text-shadow: 0px 3px 1px #6969698f;
    font-weight: bold;
}
#num-data-3 {
    color: var(--cuaternario);
    font-size: 100px;
    text-shadow: 0px 3px 1px #6969698f;
    font-weight: bold;
}
.text-data {
    color: white;

}
.father {
    display: flex;
    align-items: center;
}




/*  ABOUT US */

#navbar1{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(135, 135, 135);
    margin-bottom: 50px;
}
.contenedor {
    padding: 20px; /* Espaciado interior del rectángulo */
    border-radius: 10px; /* Bordes redondeados del rectángulo */
    margin: 70px 20px 50px 20px;
    overflow: hidden; /* Para que el contenido no se salga del rectángulo */
    text-align: justify;
}
#about {
    font-weight: bold;
}

img {
     /* Ajustar la imagen al ancho del contenedor */
    display: block; /* Evitar espacios innecesarios debajo de la imagen */
    margin-bottom: 20px; /* Espacio entre imagen y texto */
    border-radius: 10px;
}

p {
    font-size: 20px;
    line-height: 1.6; /* Espaciado entre líneas del texto */
    margin-bottom: 0; /* Eliminar espacio inferior del párrafo */

}
 
h1{
    text-align:right;
    margin-bottom: 50px;
}
/*  ABOUT US */

#boton-reg {
    background-color: var(--secundario);
    border-radius: 15px;
    border-color: var(--secundario);
    box-shadow: 0px 3px 1px #d8d5d5;
    font-weight: bold;
    width: 300px;
    height: 60px;
    text-align: center;
    line-height: normal;
    padding: 3px;
}


/* footer*/
a {
    font-size: 17px;
}
p {
    font-size: 17 px;
}
a:hover {
    color: #03A688 !important;
}
i {
    font-size: 50px;
}
#logo-renca {
    width: 200px;
}
#bar-1 {
    background-color: var(--secundario);
    width: 100px;
    height: 10px;
    margin-right: 20px;
}
#bar-2 {
    background-color: var(--cuaternario);
    width: 100px;
    height: 10px;
    margin-right: 20px;
}
#bar-3 {
    background-color: var(--primario);
    width: 100px;
    height: 10px;
    margin-right: 20px;
}
#bar-4 {
    background-color: var(--terciario);
    width: 100px;
    height: 10px;
    margin-right: 20px;
}
#bar-5 {
    background-color: var(--quinario);
    width: 100px;
    height: 10px;
    margin-right: 20px;
}
#foot-r {
    text-align: end;
}
#foot-cont {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
.list-inline-item {
    display: inline-block;
    vertical-align: middle;
}
/*footer*/