.boton-cursos{
	color: rgb(255, 255, 255);
	width: 80%;
    height: 75px;
    border-bottom-left-radius: 3px;
    box-shadow: 2px 2px 5px 2px rgb(169, 169, 169);
    border: 10px;
    background-color: rgb(206, 99, 0);
    font-weight:900 ;
    margin-top: 20px;
    border-radius: 20px;
}

#estado-curso{
    width: 90%;
}