.DashPerfilButton{
    width: 200px;
    height: 50px;
    background-color: rgb(234, 234, 234);
    box-shadow: 2px 2px 5px 2px rgb(169, 169, 169);
    margin-left: 24px;
    margin-right: 24px;
}

#formulario-user{
    width: 90%;
}