
.cerrar-sesion{
    background-color: #007FB7;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px #00436a;
    border: 10px;
    width: 200px;
    margin-top: 200px;
}



#loguito{
    width: 180px;
    display: flex;
    transition: all 0.5s ease;
}

#sideNavColor{
    
  
    height: 100%;
    
    left: 0;
    background-color: #007FB7;

    box-shadow: 0 20x 35px #00436a;
}






