.accordion {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 15px;
  border: 0px solid #212529 !important;
}

.accordion-button {
  color: #212529;
  border: 1px solid #dedede;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px !important;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
}

.accordion-body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.accordion-header button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.container-accordion {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}

#accordion-tittle {

  text-align: center;
  color: #0492D0;
  font-size: 32px;
  font-family: 'Heavitas', sans-serif;
  margin-bottom: 40px;
}