.front-page {
    margin-bottom: 20px;
}


.btn-styles1 {
    margin-bottom: 10px;
}
.btn-styles2 {
    margin-left: 10px;
}

@media (min-width: 492px) {
    .btn-styles1 {
        margin-right: 10px;
        width: 150px;
        font-size: var(--btn-fz);
    }
    .btn-styles2 {
        margin-left: 10px;
        width: 180px;
        font-size: var(--btn-fz);
    }
}

@media (min-width: 768px) {
    .btn-styles1 {
        width: 140px;
        font-size: 1.2em;
    }
    .btn-styles2 {
        width: 170px;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    .btn-styles {
        width:200px;
        padding: 10px;
        margin-top:10px;
        font-size: var(--btn-fz);
    }
}