
.root {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .content_box2 {
    display: flex;
    flex-direction: column;
    margin: 13px auto 50px;
    min-height: 625px;
    position: relative;
    width: 81.71%;
  }
  .highlight1 {
    align-items: center;
    bottom: 85px;
    color: rgb(4, 146, 208);
    display: flex;
    font: 400 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    justify-content: center;
    left: -0.5px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    width: 209px;
  }
  .medium_title {
    align-items: center;
    bottom: 553px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 24px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 36px;
    justify-content: center;
    left: 64.5px;
    position: absolute;
    right: 86.5px;
    text-align: center;
    top: 36px;
    width: 251px;
  }
  .medium_title1 {
    align-items: center;
    bottom: 589px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 24px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 36px;
    justify-content: center;
    left: 390px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 12px;
  }
  .line {
    background-color: rgb(0, 0, 0);
    bottom: 305px;
    height: 1px;
    left: 0px;
    position: absolute;
    right: 230px;
    top: 319px;
    width: auto;
  }
  .highlight {
    align-items: center;
    bottom: 294px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 185px;
    position: absolute;
    right: 206px;
    top: 307px;
    width: 11px;
  }
  .line1 {
    background-color: rgb(0, 0, 0);
    bottom: 305px;
    height: 1px;
    left: 209px;
    position: absolute;
    right: 21px;
    top: 319px;
    width: auto;
  }
  .content_box {
    bottom: 340px;
    display: flex;
    flex-direction: column;
    height: 184px;
    left: 0px;
    position: absolute;
    right: 22px;
    top: 101px;
    width: 380px;
  }
  .rect {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    bottom: 138px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    height: 46px;
    left: 0px;
    outline: 1px solid rgb(222, 222, 222);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 380px;
  }
  .rect1 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    bottom: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    height: 46px;
    left: 0px;
    outline: 1px solid rgb(222, 222, 222);
    position: absolute;
    right: 0px;
    top: 69px;
    width: 380px;
  }
  .rect2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    bottom: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    height: 46px;
    left: 0px;
    outline: 1px solid rgb(222, 222, 222);
    position: absolute;
    right: 0px;
    top: 138px;
    width: 380px;
  }
  .image {
    bottom: 146px;
    height: 30px;
    left: 10px;
    position: absolute;
    right: 340px;
    top: 8px;
    width: 30px;
  }
  .highlight2 {
    align-items: center;
    bottom: 149px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 87px;
    position: absolute;
    right: 113px;
    top: 11px;
    width: 180px;
  }
  .image1 {
    bottom: 82px;
    height: 30px;
    left: 10px;
    position: absolute;
    right: 340px;
    top: 72px;
    width: 30px;
  }
  .highlight3 {
    align-items: center;
    bottom: 84px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 87px;
    position: absolute;
    right: 91px;
    top: 76px;
    width: 202px;
  }
  .image11 {
    bottom: 10px;
    height: 34px;
    left: 7px;
    position: absolute;
    width: 34px;
  }
  .highlight4 {
    align-items: center;
    bottom: 11px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 87px;
    position: absolute;
    width: 170px;
  }
  .rect11 {
    background-color: rgb(4, 146, 208);
    border-radius: 15px 15px 15px 15px;
    bottom: 0px;
    height: 54px;
    left: 73px;
    position: absolute;
    right: 95px;
    top: 571px;
    width: 234px;
  }
  .medium_title11 {
    align-items: center;
    bottom: 12.5px;
    color: rgb(255, 255, 255);
    display: flex;
    font: 300 24px/1.2 "Poppins", Helvetica, Arial, serif;
    height: 29px;
    justify-content: center;
    left: 113px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24705882352941178);
    width: 154px;
  }
  .content_box1 {
    display: flex;
    flex-direction: column;
    height: 161px;
    left: 0px;
    position: absolute;
    top: 349px;
    width: 380px;
  }
  .highlight5 {
    align-items: center;
    bottom: 137px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    justify-content: center;
    left: 0px;
    position: absolute;
    right: 198px;
    text-align: center;
    top: 0px;
    width: 182px;
  }
  .rect3 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    bottom: 86px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    height: 46px;
    left: 0px;
    outline: 1px solid rgb(222, 222, 222);
    position: absolute;
    right: 0px;
    top: 29px;
    width: 380px;
  }
  .highlight6 {
    align-items: center;
    bottom: 51px;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 0px;
    position: absolute;
    right: 269px;
    top: 86px;
    width: 111px;
  }
  .rect4 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    bottom: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    height: 46px;
    left: 0px;
    outline: 1px solid rgb(222, 222, 222);
    position: absolute;
    right: 0px;
    top: 115px;
    width: 380px;
  }
  .highlight21 {
    align-items: center;
    color: rgb(126, 126, 126);
    display: flex;
    font: italic 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 18px;
    position: absolute;
    text-decoration: underline;
    top: 39px;
    width: 182px;
  }
  .highlight22 {
    align-items: center;
    bottom: 10px;
    color: rgb(126, 126, 126);
    display: flex;
    font: italic 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
    height: 24px;
    left: 18px;
    position: absolute;
    width: 65px;
  }