.root {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.p-5{
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    font-family: var(--titulos);
  }

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.google-login, .apple-login, .facebook-login {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login:hover, .apple-login:hover, .facebook-login:hover {
  background-color: #f0f0f0;
}

.content_box2 {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.login-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}


button[type="submit"].email-login {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"].email-login:hover {
  background-color: #0056b3;
}

.horizontal-line-container {
  display: flex; /* Utilizamos flexbox para alinear elementos horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  justify-content: space-between; /* Espacia los elementos uniformemente */
  width: 100%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.separator {
  flex-grow: 1; /* Permite que las líneas crezcan para ocupar todo el espacio disponible */
  border: none; /* Elimina el borde predeterminado */
  border-top: 2px solid black; /* Estilo de la línea */
  height: 2px; /* Grosor de la línea */
  margin: 0 20px;; /* Agrega espacio a la izquierda y derecha de las líneas */
}

.circle {
  width: 10px; /* Diámetro del círculo */
  height: 10px;
  border: 2px solid black; /* Borde del círculo */
  border-radius: 50%; /* Hace que el div sea un círculo */
}

.form-control2 {
  background-color: #fff; /* Color de fondo */
  border: 1px solid #ced4da; /* Borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 0.75rem 1rem; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
  transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
  width: 40px; /* Toma el 100% del ancho y resta 40px para el espacio de los botones */
}

/* Estilos para cuando se enfoca la caja */
.form-control:focus {
  border-color: #80bdff; /* Color del borde al enfocar */
  outline: 0; /* Quita el contorno alrededor del borde al enfocar */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
}

/* Agrega estos estilos al final de tu archivo Login.css */

/* Aplica estilos para alinear el texto dentro de los botones de inicio de sesión al centro */
.btn-login {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px; /* Alinea los botones correctamente */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* Utiliza flexbox para alinear el contenido verticalmente */
  justify-content:flex-start; /* Alinea el contenido horizontalmente */
  align-items: center; /* Alinea el contenido verticalmente */
  font-weight: bold;
}

.btn-login:hover {
  background-color: #f0f0f0;
}

.btn-login:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#botoniniciar {
  font-family: var(--titulos) !important;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5); /* Sombra para el contenedor */
}

#botoniniciar:hover{
background-color: #0ab5fd;
}


.google-login {
  background-image: url('./google-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 0%; /* Ajusta el espacio a la izquierda del botón para el icono */
}

.facebook-login {
  background-image: url('./facebook-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 0%; /* Ajusta el espacio a la izquierda del botón para el icono */
}

.apple-login {
  background-image: url('./apple-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 0%; /* Ajusta el espacio a la izquierda del botón para el icono */
}

.logo {
  border: none;/* Oculta el elemento img para que solo se muestre el icono de fondo */
}

.recordar {
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.recordar:hover {
  color: #0056b3;
}


/* Alinear botones y logo */

#botong, #botonf, #botona{
  align-items: center;
  display: flex;
  justify-content: center;
  }
  

#textoboton1{
  padding-left: 61px;
  padding-right: 61px;
}

#textoboton2{
  padding-left: 52px;
  padding-right: 52px;
}

#textoboton3{
  padding-left: 64px;
  padding-right: 64px;
}

/* Alinear botones y logo */

/* modal */
.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.login-content {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  position: relative;
  width: max-content; /* Establece el ancho al ancho máximo del contenido */
  margin: auto; /* Centra el contenedor horizontalmente */
}


.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 10px; /* Ancho del botón */
  height: 10px; /* Altura del botón */
  background-color: rgb(255, 255, 255); /* Color de fondo del botón */
  border-color:#000;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 1px; /* Borde redondeado del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*fin modal */

.slide-in-right {
  animation: slideInRight 1s ease-out; /* Utiliza la animación slideInRight con duración de 0.3 segundos */
}


@keyframes slideInRight {
  from {
    transform: translateX(100%); /* Empieza la animación desde el lado derecho de la página */
  }
  to {
    transform: translateX(0); /* Termina la animación en su posición final */
  }
}
